<button type="button" name="button">Añadir criterio
{{#link-to 'nuevo-criterio'}}
  siguiente
{{/link-to}}
</button>
{{#link-to 'inicio'}}
  inicio
{{/link-to}}
{{#link-to 'establecimiento-de-criterios'}}
  establecimiento de criterios
{{/link-to}}
{{outlet}}
